<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Serverless Egg.js 应用"/>
    <meta name="keywords" content="egg,egg.js,serverless,无服务"/>
    <title>Serverless - Egg.js</title>
    <style lang="css">
      h1 {
        text-align: center;
        width: 600px;
        margin: 300px auto;
      }
    </style>
  </head>
  <body>
    <div>呀，这都被你发现了</div>
  </body>
</html>
